version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.krutoy
    depends_on:
      - db
    networks:
      - app_net
    ports:
      - "5005:5000"

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - db_net

volumes:
  db_data:

networks:
  app_net:
    driver: bridge
  db_net:
    driver: bridge

